@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-shadow: -2px 1px 3px rgba(255, 255, 255, 0.6);
}

/*Header Section  Start*/
header {
  width: 50vw;
  height: 14vw;
  background-color: rgba(62, 62, 61, 0.9);
  background-image: url("./img/Design.png");
  background-position: right 35% bottom 80%;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 64px;
}
#header-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin: 42px 48px;
  font-weight: 900;
  text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
}

#search-bar {
  width: 60%;
  height: 36px;
  border-radius: 8px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

form input {
  width: 70%;
  padding: 0 24px;
  text-align: center;
  color: whitesmoke;
  background-color: #2e2e2f;
  border: none;
  height: 36px;
  border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
}

form button {
  width: 20%;
  height: 36px;
  background-color: #4b4b4b;
  color: whitesmoke;
  border: none;
  border-radius: 0px 6px 6px 0px;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.6);
}

form button:hover {
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75) inset;
}

form img {
  position: absolute;
  padding-left: 6px;
}

/*Header Section  End*/

/*Main Section Start*/
/*Template Icon Container Start*/
#icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vw;
  justify-content: center; /* Add this line to horizontally center the icon */
  color: #2e2e2f;
  font-size: 18px;
}
/*Template Icon Container End*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.movie-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 50%;
  padding-left: 48px;
}
.movie-poster {
  width: 25%;
}
.movie-text-container {
  flex-grow: 1; /* Allow this container to take up the remaining space */
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}
/*Movie Title Section Start*/
.movie-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.movie-title {
  font-size: 18px;
  font-weight: 900;
}
.add-watchlist-button {
  background-color: #44c767;
  border-radius: 48px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Impact;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  text-shadow: 0px 1px 0px #2f6627;
  margin-right: 6px;
}
.add-watchlist-button:hover {
  background-color: #ffffff;
  color: #44c767;
  transition: ease-in 0.1s;
}
.movie-imdb {
  font-size: 12px;
}
.movie-title-container img {
  margin: 0px 6px;
}
/*Movie Title Section End*/

/*Movie Info Section Start*/
.movie-info-container {
  display: flex;
  flex-direction: row;
  font-size: 600;
}
.watchlist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
}
hr {
  display: flex;
  width: 50%;
}
.movie-time {
  padding-right: 12px;
}
.watchlist-container img {
  margin-right: 6px;
}

/*Movie Info Section End*/

/*Movie Plot Section Start*/
.movie-explonation {
  color: #a5a5a5;
}

.movie-explonation button {
  background-color: black;
  border: none;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.movie-explonation button:hover {
  text-shadow: -2px 1px 3px rgba(255, 255, 255, 0.6);
}
/*Movie Plot Section End*/

/*Main Section End*/
.alert-text {
  font-size: 24px;
  color: white;
  margin: 50%;
  width: 100%;
}

/*Read More Pop-up Section Start*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 64px 100px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 64px 100px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 64px 100px rgba(0, 0, 0, 1);
  max-width: 80%;
  color: #2e2e2f;
}

.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/*Read More Pop-up Section End*/

/*Loader Animation Section Start*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-text {
  margin: 5px auto;
  color: #3d314a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.loader-filmstrip {
  position: relative;
  width: 56px;
  height: 70px;
  background: #fafafa;
  z-index: -1;
}

.loader-filmstrip:before,
.loader-filmstrip:after {
  content: "";
  position: absolute;
  height: 80%;
  border-left: 5px dashed #4b4948;
  animation: roll 20ms infinite;
}

.loader-filmstrip:before {
  left: 5px;
}

.loader-filmstrip:after {
  right: 5px;
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: 15px;
  }
}
/*Loader Animation Section End*/
